<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xbcao.junior">

    <application
        android:name="xbcao.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".JuniorActivity" />
        <activity android:name=".activity.StateActivity" />
        <activity android:name=".activity.ShapeActivity" />
        <activity android:name=".activity.ScrollActivity" />
        <activity android:name=".activity.ScreenActivity" />
        <activity android:name=".activity.ScaleActivity" />
        <activity android:name=".activity.PxActivity" />
        <activity android:name=".activity.NineActivity" />
        <activity android:name=".activity.MarqueeActivity" />
        <activity android:name=".activity.MarginActivity" />
        <activity android:name=".activity.IconActivity" />
        <activity android:name=".activity.GravityActivity" />
        <activity android:name=".activity.ColorActivity" />
        <activity android:name=".activity.ClickActivity" />
        <activity android:name=".activity.CaptureActivity" />
        <activity android:name=".activity.CalculatorActivity" />
        <activity android:name=".activity.BbsActivity" />
        <activity android:name="xbcao.middle.MiddleActivity" />
        <activity android:name="xbcao.middle.activity.TextCheckActivity" />
        <activity android:name="xbcao.middle.activity.SwitchIOSActivity" />
        <activity android:name="xbcao.middle.activity.SwitchDefaultActivity" />
        <activity android:name="xbcao.middle.activity.SpinnerIconActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="xbcao.middle.activity.SpinnerDropdownActivity" />
        <activity android:name="xbcao.middle.activity.SpinnerDialogActivity" />
        <activity android:name="xbcao.middle.activity.RelativeXmlActivity" />
        <activity android:name="xbcao.middle.activity.RelativeCodeActivity" />
        <activity android:name="xbcao.middle.activity.RadioVerticalActivity" />
        <activity android:name="xbcao.middle.activity.RadioHorizontalActivity" />
        <activity android:name="xbcao.middle.activity.MortgageActivity" />
        <activity android:name="xbcao.middle.activity.LoginActivity" />
        <activity android:name="xbcao.middle.activity.LoginForgetActivity" />
        <activity android:name="xbcao.middle.activity.FrameActivity" />
        <activity android:name="xbcao.middle.activity.EditSimpleActivity" />
        <activity android:name="xbcao.middle.activity.EditJumpActivity" />
        <activity android:name="xbcao.middle.activity.EditHideActivity" />
        <activity android:name="xbcao.middle.activity.EditCursorActivity" />
        <activity android:name="xbcao.middle.activity.EditBorderActivity" />
        <activity android:name="xbcao.middle.activity.EditAutoActivity" />
        <activity android:name="xbcao.middle.activity.CheckboxActivity" />
        <activity android:name="xbcao.middle.activity.AlertActivity" />
        <activity android:name="xbcao.middle.activity.ActUriActivity" />
        <activity android:name="xbcao.middle.activity.ActRotateActivity" />
        <activity android:name="xbcao.middle.activity.ActResponseActivity" />
        <activity android:name="xbcao.middle.activity.ActRequestActivity" />
        <activity android:name="xbcao.storage.StorageActivity" />
        <activity android:name="xbcao.storage.activity.TextWriteActivity" />
        <activity android:name="xbcao.storage.activity.TextReadActivity" />
        <activity android:name="xbcao.storage.activity.SQLiteWriteActivity" />
        <activity android:name="xbcao.storage.activity.SQLiteReadActivity" />
        <activity android:name="xbcao.storage.activity.ShoppingDetailActivity" />
        <activity android:name="xbcao.storage.activity.ShoppingChannelActivity" />
        <activity android:name="xbcao.storage.activity.ShoppingCartActivity" />
        <activity android:name="xbcao.storage.activity.ShareReadActivity" />
        <activity android:name="xbcao.storage.activity.ShareWriteActivity"></activity>
    </application>

</manifest>